
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="Trở lại trang chủ">Trang chủ</a><span>&mdash;›</span></li>
                <li class=""> <a>Giới thiệu</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" style="font-size:16px;margin-bottom:10px">
        <h3 style="font-weight:700">Về chúng tôi</h3>
        Chào mừng quý khách đến với cửa hàng vật liệu cơ khí của chúng tôi!
        <br />
        Chúng tôi tự hào là một trong những địa chỉ uy tín hàng đầu chuyên cung cấp các loại vật liệu cơ khí chất lượng cao. Với nhiều năm kinh nghiệm trong ngành, chúng tôi cam kết mang đến cho quý khách hàng các sản phẩm đa dạng và dịch vụ chuyên nghiệp, đáp ứng mọi nhu cầu từ các dự án nhỏ đến các công trình lớn.
        <br />
        Các Sản Phẩm Chính
        <ul>
            <li>
                Thép các loại: Thép tấm, thép ống, thép hình, thép xây dựng.
            </li>
            <li>
                Inox: Inox tấm, inox ống, inox cây đặc.
            </li>
            <li>
                Nhôm: Nhôm tấm, nhôm ống, nhôm thanh.
            </li>
            <li>
                Các loại hợp kim: Hợp kim nhôm, hợp kim đồng, hợp kim thép.
            </li>
            <li>
                Dụng cụ cơ khí: Đinh, vít, bu lông, ê cu và các loại dụng cụ cầm tay.
            </li>
        </ul>
        <br />
        Dịch Vụ Của Chúng Tôi
        <br />
        Tư vấn chuyên nghiệp: Đội ngũ nhân viên giàu kinh nghiệm sẵn sàng tư vấn, hỗ trợ quý khách lựa chọn sản phẩm phù hợp với nhu cầu và ngân sách.
        <br />
        Gia công theo yêu cầu: Chúng tôi cung cấp dịch vụ gia công cắt, uốn, hàn theo bản vẽ hoặc yêu cầu đặc biệt của khách hàng.
        <br />
        Giao hàng tận nơi: Dịch vụ giao hàng nhanh chóng và tiện lợi, đảm bảo sản phẩm đến tay khách hàng đúng thời gian và địa điểm yêu cầu.
        <br />
        Chính sách hậu mãi: Hỗ trợ kỹ thuật và bảo hành sản phẩm để quý khách hoàn toàn yên tâm khi sử dụng.
        <br />
        Cam Kết Chất Lượng<br />
        Chúng tôi luôn đặt chất lượng sản phẩm lên hàng đầu. Các sản phẩm tại cửa hàng đều được kiểm tra nghiêm ngặt trước khi đến tay khách hàng, đảm bảo đạt các tiêu chuẩn chất lượng quốc tế.
        <br />
        Liên Hệ
        <br />
        Hãy đến với cửa hàng vật liệu cơ khí của chúng tôi để trải nghiệm sự khác biệt về chất lượng và dịch vụ. Địa chỉ cửa hàng: 118 Đường số 2, Tân Phong, Q7, TP HCM, số điện thoại:1800 1199, email: vatlieucokhi@gmail.com.
        <br />
        Chúng tôi rất mong được phục vụ quý khách và trở thành đối tác tin cậy trong mọi dự án cơ khí của bạn.
    </div>
</div>

